body {
    background-color: black;
}
h2,
h4,
h5 {
    color: #767676;
}
p {
    color: #ffffff;
    font-size: 14px;
}
h2 {
    font-size: 32px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 14px;
}

css-ში p ტეგს გაუწერე font-size: 14px; ფიგმაში მოაქვს ეს პარამეტრები და შეგიძლია ნახო, 
ასევე გამოვიყენოთ br ტეგები ქვედა 2 პარაფრადში და გავაკეთოთ ისე როგორც არის ფიგმაში.
ტესტებსშორიდ დაშორებებსაც გადახედე და თუ სადმე შესაცვლელია მივამსგავსოთ ფიგმას.